<form name="fundingForm" id="fundingForm" novalidate>

  <!-- Total coût d'achat: -->
  <div class="form-group" ng-if="funCtrl.immo.total">
    <label>Total coût d'achat:</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="text"
             class="form-control with-success-addon"
             placeholder=""
             id="immoTotal"
             name="immoTotal"
             ng-value="funCtrl.immo.total | currency:'€':'0'" disabled>
    </div>
  </div>

  <!-- Apport personnel -->
  <div class="form-group" ng-if="funCtrl.immo.total">
    <label>Apport personnel</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="number"
             step="1000"
             min="0"
             ng-max="{{funCtrl.immo.total}}"
             class="form-control with-success-addon"
             placeholder=""
             id="personalContribution"
             name="personalContribution"
             ng-model="funCtrl.fin.personalContribution">
    </div>
    <span ng-if="funCtrl.immo.total && !funCtrl.immo.isPublicSale" class="help-block sub-little-text"><i class="fa fa-info-circle" aria-hidden="true"></i>
          Droits d'enregistrment({{funCtrl.immo.registrationTax | currency:'€':0}}) + Honoraires notariaux({{funCtrl.immo.notaryHonorTTC | currency:'€':0}}) + Frais divers({{funCtrl.immo.variousFees | currency:'€':0}}) + Frais d’acte sur emprunt hypothécaire({{funCtrl.fin.taxLoanAmount | currency:'€':0}})</span>
    <span ng-if="funCtrl.immo.total && funCtrl.immo.isPublicSale" class="help-block sub-little-text"><i class="fa fa-info-circle" aria-hidden="true"></i>
          Frais de la vente publique({{funCtrl.immo.registrationTaxPublicSale | currency:'€':0}}) + Frais divers({{funCtrl.immo.variousFees | currency:'€':0}}) + Frais d’acte sur emprunt hypothécaire({{funCtrl.fin.taxLoanAmount | currency:'€':0}}) </span>
    <div ng-show="fundingForm.$submitted || fundingForm.personalContribution.$touched">
      <div class="help-block text-danger" ng-if="fundingForm.personalContribution.$error.max">
        <span class="text-danger"> L'apport personnel ne peut pas être plus grand que le coût d'achat!</span>
      </div>
    </div>
  </div>

  <!-- Capital à emprunter -->
  <div class="form-group">
    <label>Capital à emprunter</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="number"
             min="0"
             step="10000"
             class="form-control with-success-addon"
             placeholder=""
             id="loanAmount"
             name="loanAmount"
             ng-model="funCtrl.fin.loanAmount">
    </div>
  </div>

  <!-- Frais d’acte sur emprunt hypothécaire -->
  <div class="form-group">
    <label>Frais d’acte sur emprunt hypothécaire
      <!-- Button trigger modal -->
      <a data-toggle="modal" role="button" ng-click="funCtrl.open('app/pages/funding/form/modals/taxLoanAmountDetailsModal.html')"
         style="color:blue;">
        <span class="glyphicon glyphicon-question-sign"></span>
      </a>
    </label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="text"
             class="form-control with-success-addon"
             placeholder=""
             id="taxLoanAmount"
             name="taxLoanAmount"
             ng-value="funCtrl.fin.taxLoanAmount | currency:'€':0"
             disabled>
    </div>
  </div>

  <!-- Taux d'intérêt annuel (%) -->
  <div class="form-group">
    <label>Taux d'intérêt annuel (%)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">%</span>
      <input type="number"
             step="0.10"
             min="1"
             max="10"
             class="form-control with-success-addon"
             placeholder=""
             id="interestRateYear"
             name="interestRateYear"
             ng-model="funCtrl.fin.interestRateYear">
    </div>
    <span class="help-block sub-little-text"><i class="fa fa-info-circle" aria-hidden="true"></i>
          Indiquez le taux d'intérêt annuel, hors assurance</span>
  </div>

  <!-- Durée de l'emprunt (années) -->
  <div class="form-group">
    <label>Durée de l'emprunt (années)</label>
    <input type="number"
           min="5"
           max="40"
           class="form-control"
           placeholder=""
           id="termLoan"
           name="termLoan"
           ng-model="funCtrl.fin.loanDurationOnYears">
    <p class="help-block text-danger"></p>
  </div>
  <div class="form-group">
    <div class="slider-box">
      <h5>Durée de l'emprunt (années)</h5>
      <ion-slider type="single"
                  grid="true"
                  min="1"
                  max="40"
                  from="funCtrl.fin.loanDurationOnYears"
                  on-change='rangeChangeCallback'
                  on-finish='rangeChangeCallback'
                  disable="false">
      </ion-slider>
    </div>
  </div>

  <!-- Assurance crédit (%) -->
  <div class="form-group">
    <label>Assurance crédit (%)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">%</span>
      <input type="number"
             step="0.10"
             min="0.10"
             max="10"
             class="form-control with-success-addon"
             placeholder=""
             id="insuranceLoan"
             name="insuranceLoan"
             ng-model="funCtrl.fin.insuranceLoan">
    </div>
    <span class="help-block sub-little-text"><i class="fa fa-info-circle" aria-hidden="true"></i>
          Le montant mensuel de l'assurance vous est donnée à titre indicatif automatiquement. Modifier si nécessaire.</span>
  </div>

  <!-- Mensualités (hors assurance) -->
  <div class="form-group">
    <label>Mensualités (hors assurance)</label>
    <input type="text"
           class="form-control"
           placeholder=""
           id="monthlyPayments"
           name="monthlyPayments"
           ng-value="funCtrl.fin.monthlyPayments | currency : '€': 0"
           readonly>
  </div>

  <!-- Mensualités -->
  <div class="form-group">
    <label>Mensualités
      <!-- Button trigger modal -->
      <a data-toggle="modal" role="button" data-target="#monthlyPaymentsDetailsModal"
         style="color:blue;">
        <span class="glyphicon glyphicon-question-sign"></span>
      </a>
    </label>
    <input type="text"
           class="form-control"
           placeholder=""
           id="monthlyPaymentsWithInsurance"
           name="monthlyPaymentsWithInsurance"
           ng-value="funCtrl.fin.monthlyPaymentsWithInsurance | currency:'€':0"
           readonly>
    <p class="help-block text-danger"></p>
    <span class="help-block" ng-show="fin.loanRegistrationTax > 0">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Coût des intérêts: {{funCtrl.fin.totalLoanInterest | currency:'€':0}} |
          Coût de l'assurance:{{funCtrl.fin.totalLoanInsurance | currency:'€':0}} |
          Coût total:{{funCtrl.fin.totalLoanInterestAndInsurance | currency:'€':0}}
      </span>
  </div>

</form>


<!-- Détails mensualités -->
<div class="modal fade" id="monthlyPaymentsDetailsModal" tabindex="-1" role="dialog"
     aria-labelledby="monthlyPaymentsDetailsLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="monthlyPaymentsDetailsLabel">Détails mensualités</h4>
      </div>
      <div class="modal-body">
        <article class="text-justify">

        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



