<form name="fundingForm" id="fundingForm" novalidate>

  <!-- Total coût d'achat: -->
  <div class="form-group" ng-if="funCtrl.immo.total">
    <label>Total coût d'achat:</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="text"
             class="form-control with-success-addon"
             placeholder=""
             id="immoTotal"
             name="immoTotal"
             ng-value="funCtrl.immo.total | currency:'€':'0'" disabled>
    </div>
  </div>

  <!-- Apport personnel -->
  <div class="form-group" ng-if="funCtrl.immo.total">
    <label>Apport personnel</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="number"
             min="0"
             ng-max="{{funCtrl.immo.total}}"
             class="form-control with-success-addon"
             id="personalContribution"
             name="personalContribution"
             ng-model="funCtrl.fin.personalContribution">
    </div>
    <span ng-if="funCtrl.immo.total && !funCtrl.immo.isPublicSale" class="help-block sub-little-text"><i
      class="fa fa-info-circle" aria-hidden="true"></i>
          Droits d'enregistrment({{funCtrl.immo.registrationTax | currency:'€':0}}) + Honoraires notariaux({{funCtrl.immo.notaryHonorTTC | currency:'€':0}}) + Frais divers({{funCtrl.immo.variousFees | currency:'€':0}}) + Frais d’acte sur emprunt hypothécaire({{funCtrl.fin.taxLoanAmount | currency:'€':0}})</span>
    <span ng-if="funCtrl.immo.total && funCtrl.immo.isPublicSale" class="help-block sub-little-text"><i
      class="fa fa-info-circle" aria-hidden="true"></i>
          Frais de la vente publique({{funCtrl.immo.registrationTaxPublicSale | currency:'€':0}}) + Frais divers({{funCtrl.immo.variousFees | currency:'€':0}}) + Frais d’acte sur emprunt hypothécaire({{funCtrl.fin.taxLoanAmount | currency:'€':0}}) </span>
    <div class="help-block text-danger" ng-if="fundingForm.personalContribution.$error.max" zoom-out>
      <span class="text-danger"> L'apport personnel ne peut pas être plus grand que le coût d'achat!</span>
    </div>
    <div class="help-block text-danger" ng-if="fundingForm.personalContribution.$invalid">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>

  </div>

  <!-- Capital à emprunter -->
  <div class="form-group">
    <label>Capital à emprunter</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="number"
             min="0"
             class="form-control with-success-addon"
             placeholder=""
             id="loanAmount"
             name="loanAmount"
             ng-model="funCtrl.fin.loanAmount">
    </div>
    <div class="help-block text-danger" ng-if="fundingForm.loanAmount.$invalid">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>

  </div>

  <!-- Frais d’acte sur emprunt hypothécaire -->
  <div class="form-group">
    <label>Frais d’acte sur emprunt hypothécaire</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="text"
             class="form-control with-success-addon"
             placeholder=""
             id="taxLoanAmount"
             name="taxLoanAmount"
             ng-value="funCtrl.fin.taxLoanAmount | currency:'€':0"
             disabled>
      <!-- Button trigger modal -->
      <span class="input-group-btn addon-right input-group-addon-primary">
        <button class="btn btn-primary" type="button" data-toggle="modal"
                ng-click="funCtrl.open('app/pages/funding/form/modals/taxLoanAmountDetailsModal.html', 'lg')">&nbsp;&nbsp;<i
          class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;</button>
      </span>
    </div>
  </div>


  <!-- Taux d'intérêt annuel (%) -->
  <div class="form-group">
    <label>Taux d'intérêt annuel (%)</label>
    <md-slider-container>
      <md-slider class="md-warn" flex md-discrete step="0.1" min="0.1" max="10" ng-model="funCtrl.fin.interestRateYear" aria-label="red" id="interestRateYear-slider">
      </md-slider>
      <md-input-container>
        <input flex
               type="number"
               id="interestRateYear"
               name="interestRateYear"
               ng-model="funCtrl.fin.interestRateYear" aria-label="red"
               aria-controls="red-slider">
      </md-input-container>
    </md-slider-container>
  </div>

  <!-- Durée de l'emprunt (années) -->
  <div class="form-group">
    <label>Durée de l'emprunt (années)</label>
    <md-slider-container>
      <md-slider class="md-warn" flex md-discrete step="1" min="5" max="40" ng-model="funCtrl.fin.loanDurationOnYears" aria-label="red" id="termLoan-slider">
      </md-slider>
      <md-input-container>
        <input flex
               type="number"
               id="termLoan"
               name="termLoan"
               ng-model="funCtrl.fin.loanDurationOnYears" aria-label="red"
               aria-controls="red-slider">
      </md-input-container>
    </md-slider-container>
  </div>

  <!-- Assurance crédit (%) -->
  <div class="form-group">
    <label>Assurance crédit (%)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">%</span>
      <input type="number"
             min="0.10"
             max="10"
             class="form-control with-success-addon"
             placeholder=""
             id="insuranceLoan"
             name="insuranceLoan"
             ng-model="funCtrl.fin.insuranceLoan">
    </div>
    <span class="help-block sub-little-text"><i class="fa fa-info-circle" aria-hidden="true"></i>
          Le montant mensuel de l'assurance vous est donnée à titre indicatif automatiquement. Modifier si nécessaire.</span>
    <div class="help-block text-danger" ng-if="fundingForm.insuranceLoan.$invalid">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>
  </div>

  <!-- Mensualités (hors assurance) -->
  <div class="form-group">
    <label>Mensualités (hors assurance)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="text"
             class="form-control"
             placeholder=""
             id="monthlyPayments"
             name="monthlyPayments"
             ng-value="funCtrl.fin.monthlyPayments | currency : '€': 0"
             disabled>
    </div>
  </div>

  <!-- Mensualités -->
  <div class="form-group">
    <label>Mensualités</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="text"
             class="form-control"
             placeholder=""
             id="monthlyPaymentsWithInsurance"
             name="monthlyPaymentsWithInsurance"
             ng-value="funCtrl.fin.monthlyPaymentsWithInsurance | currency:'€':0"
             disabled>
      <!-- Button trigger modal -->
      <span class="input-group-btn addon-right input-group-addon-primary" ng-if="funCtrl.isMobile">
        <button class="btn btn-primary" type="button" data-toggle="modal"
                ng-click="funCtrl.open('app/pages/funding/form/modals/monthlyPaymentsDetailsModal.html', 'lg')">&nbsp;&nbsp;<i
          class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;</button>
      </span>
    </div>
    <p class="help-block text-danger"></p>
    <span class="help-block" ng-show="funCtrl.fin.loanRegistrationTax > 0">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        Coût des intérêts: {{funCtrl.fin.totalLoanInterest | currency:'€':0}} |
        Coût de l'assurance: {{funCtrl.fin.totalLoanInsurance | currency:'€':0}} |
        Coût total: {{funCtrl.fin.totalLoanInterestAndInsurance | currency:'€':0}}
    </span>
  </div>

</form>




