<form name="acquisitionCostForm" id="acquisitionCostForm" novalidate>

  <!-- Prix d'achat (FAI) -->
  <div class="form-group">
    <label>Prix d'achat (FAI)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success"> € </span>
      <input type="number"
             step="10000"
             min="0"
             max="10000000"
             class="form-control with-success-addon"
             placeholder=""
             id="price"
             name="price"
             ng-model="immo.price"
             ng-required="true">
    </div>
    <div ng-show="acquisitionCostForm.$submitted || acquisitionCostForm.price.$touched">
      <div class="help-block text-danger" ng-if="acquisitionCostForm.price.$error.required">
        <span class="text-danger"> Entrez le montant du votre bien svp.</span>
      </div>
    </div>
  </div>

  <!-- Surface du bien (en m²) -->
  <div class="form-group">
    <label>Surface du bien (en m²)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success"> m²</span>
      <input type="number"
             step="10"
             min="0"
             max="9000"
             class="form-control"
             placeholder=""
             id="immoArea"
             name="immoArea"
             ng-model="immo.area">
      <p class="help-block text-danger"></p>
    </div>
  </div>

  <!-- Montant des travaux -->
  <div class="form-group">
    <label>Montant des travaux</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success"> € </span>
      <input type="number"
             step="1000"
             min="0"
             class="form-control"
             placeholder=""
             id="renovationPrice"
             name="renovationPrice"
             ng-model="immo.renovationPrice">
      <p class="help-block text-danger"></p>
    </div>
  </div>

  <!-- Taux droits d'enregistrement -->
  <div class="form-group">
    <p>Taux droits d'enregistrement:</p>
    <div class="col-xs-offset-1">
      <div class="radio">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowanceRate" id="taxAllowanceRate125"
                 ng-model="immo.taxAllowanceRate" ng-value='0.125'>
          <span>12,5 % (Bruxelles & Wallonie)</span>
        </label>
      </div>
      <div class="radio">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowanceRate" id="taxAllowanceRate6"
                 ng-model="immo.taxAllowanceRate" ng-value='0.06'>
          <span>6 % (Wallonie - maison modeste)
            <a data-toggle="modal" role="button" data-target="#taxAllowanceRate6Modal"><span class="glyphicon glyphicon-info-sign"></span></a>
          </span>
        </label>
      </div>
      <div class="radio">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowanceRate" id="taxAllowanceRate10"
                 ng-model="immo.taxAllowanceRate" ng-value='0.10'>
          <span>10 % (Flandre)</span>
        </label>
      </div>
      <div class="radio">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowanceRate" id="taxAllowanceRate5"
                 ng-model="immo.taxAllowanceRate" ng-value='0.05'>
          <span>5 % (Flandre - maison modeste)
            <!-- Button trigger modal -->
            <a class="" data-toggle="modal" role="button" data-target="#taxAllowanceRate5Modal">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </span>
        </label>
      </div>
      <div class="radio">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowanceRate" id="taxAllowanceRate15"
                 ng-model="immo.taxAllowanceRate" ng-value='0.15'>
          <span>15 % (Wallonie 3e bien)</span>
        </label>
      </div>
    </div>
  </div>

  <!-- Type de vente -->
  <div class="form-group">
    <p>Type de vente:</p>
    <div class="col-xs-offset-1">
      <div class="radio">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="normalSale" id="normalSale"
                 ng-model="immo.isPublicSale" ng-value='false'>
          <span>Gré à gré</span>
        </label>
      </div>
      <div class="radio">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="publicSale" id="publicSale"
                 ng-model="immo.isPublicSale" ng-value='true'>
          <span for="publicSale">Vente publique</span>
        </label>
      </div>
    </div>
  </div>

  <!-- Abattement -->
  <div class="form-group">
    <p>Abattement</p>
    <div class="col-xs-offset-1">
      <div class="radio" ng-if="immo.taxAllowanceRate == 0.125">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowance" id="taxAllowance60"
                 ng-model="immo.taxAllowanceSum" ng-value="60000">
          <span>60.000 €</span>
        </label>
      </div>
      <div class="radio" ng-if="immo.taxAllowanceRate == 0.125">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowance" id="taxAllowance75"
                 ng-model="immo.taxAllowanceSum" ng-value="75000">
          <span>75.000 €
            <!-- Button trigger modal -->
            <a data-toggle="modal" role="button" data-target="#taxAllowance75Modal">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </span>
        </label>
      </div>
      <div class="radio" ng-if="immo.taxAllowanceRate == 0.125">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowance175" id="taxAllowance175"
                 ng-model="immo.taxAllowanceSum" ng-value="175000">
          <span>175.000 €
            <!-- Button trigger modal -->
            <a data-toggle="modal" role="button" data-target="#taxAllowance175Modal">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </span>
        </label>
      </div>
      <div class="radio"
           ng-if="immo.taxAllowanceRate == 0.10 || immo.taxAllowanceRate == 0.05">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowance15" id="taxAllowance15"
                 ng-model="immo.taxAllowanceSum" ng-value="15000">
          <span>Abattement ordinaire: 15.000 €
            <!-- Button trigger modal -->
            <a data-toggle="modal" role="button" data-target="#taxAllowance15Modal">
              <span class="glyphicon glyphicon-info-sign"> </span>
            </a>
          </span>
        </label>
      </div>
      <div class="radio" ng-if="immo.taxAllowanceRate == 0.10">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowance25" id="taxAllowance25"
                 ng-model="immo.taxAllowanceSum" ng-value="25000">
          <span>
            Abattement majoré: 25.000 €
            <!-- Button trigger modal -->
            <a data-toggle="modal" role="button" data-target="#taxAllowance25Modal">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </span>
        </label>
      </div>
      <div class="radio flex" ng-if="immo.taxAllowanceRate == 0.05">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowance35" id="taxAllowance35"
                 ng-model="immo.taxAllowanceSum" ng-value="35000">
          <span for="taxAllowance35">
            Abattement majoré: 35.000 €
            <!-- Button trigger modal -->
            <a data-toggle="modal" role="button" data-target="#taxAllowance35Modal">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </span>
        </label>
      </div>
      <div class="radio radio-info">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="taxAllowance" id="taxAllowance0"
                 ng-model="immo.taxAllowanceSum" ng-value="0"
                 ng-checked="immo.taxAllowanceRate">
          <span for="taxAllowance0">Pas d'abattement / inconnu </span>
        </label>
      </div>
      <p class="help-block text-danger"></p>
    </div>
  </div>

  <!-- Droits d’enregistrement -->
  <div class="form-group" ng-if="immo.isPublicSale == false">
    <label>Droits d’enregistrement <!-- Button trigger modal -->
      <a class="" data-toggle="modal" role="button" data-target="#registrationTaxPublicModal">
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>
    </label>
    <input type="text"
           class="form-control"
           id="registrationTax"
           name="registrationTax"
           ng-value="immo.registrationTax | currency : '€' : 0"
           readonly>
  </div>

  <!-- Honoraires notariaux barêmisés (htva) -->
  <div class="form-group" ng-if="immo.isPublicSale == false">
    <label>Honoraires notariaux barêmisés (TVAC)</label>
    <input type="text"
           class="form-control"
           id="honorTVAC"
           name="honorTVAC"
           ng-value="immo.notaryHonorTTC | currency:'€':0"
           readonly>
    <span class="help-block sub-little-text"><i class="fa fa-info-circle" aria-hidden="true"></i>
          Honoraires notariaux HTVA: {{immo.notaryHonorHTVA | currency:'€':0}} </span>
  </div>

  <!-- Frais de la vente publique -->
  <div class="form-group" ng-if="immo.isPublicSale == true">
    <label>Frais de la vente publique
      <!-- Button trigger modal -->
      <a data-toggle="modal" role="button" data-target="#registrationTaxPublicSaleModal">
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>
    </label>
    <input type="text"
           class="form-control"
           id="registrationTaxPublicSale"
           name="registrationTaxPublicSale"
           ng-value="immo.registrationTaxPublicSale | currency:'€':0"
           readonly>
    <span class="help-block" ng-show="fin.loanRegistrationTax > 0"></span>
  </div>

  <!-- Frais divers (tvac) -->
  <div class="form-group">
    <label>Frais divers (tvac)
      <!-- Button trigger modal -->
      <a data-toggle="modal" role="button" data-target="#variousFeesModal">
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>
    </label>
    <input type="number"
           class="form-control"
           placeholder=""
           id="variousFees"
           name="variousFees"
           ng-model="immo.variousFees"
           data-validation-number-message="Ce champ ne doit contenir que des chiffres">
    <p class="help-block text-danger"></p>
  </div>

  <br>
  <p>Total coût d'achat: {{immo.total | currency:"€":0}}</p>
  <p>Total prix au m²: {{immo.total / immo.area | currency:"€":0}}</p>

  <br>
  <div id="success"></div>

</form>


<!-- Modal Flandre - maison modeste -->
<div class="modal fade" id="taxAllowanceRate5Modal" tabindex="-1" role="dialog"
     aria-labelledby="taxAllowanceRate5ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="taxAllowanceRate5ModalLabel">Réduction de moitié pour maison modeste</h4>
      </div>
      <div class="modal-body">
        <article class="text-justify">Cette réduction s'adresse à celui qui achète un bien immobilier pour y
          établir dans les trois ans sa résidence principale (et y vivre ensuite
          au moins trois ans). En principe, cette réduction peut être demandée
          par le propriétaire qui ne possède pas (lui-même ou son conjoint)
          en pleine propriété ou en nue-propriété une autre habitation.
          S'il(s) possède (nt) d'autres biens immobiliers, leur revenu cadastral
          total ne peut dépasser: <br>
          <br> - 745 euros s'il y a moins de trois enfants à charge;
          <br> - 845 euros s'il y a trois ou quatre enfants à charge;
          <br> - 945 euros s'il y a cinq ou six enfants à charge;
          <br> - 1.045 euros s'il y a plus de six enfants à charge.
        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Abattement 75.000€ -->
<div class="modal fade" id="taxAllowance75Modal" tabindex="-1" role="dialog" aria-labelledby="taxAllowance75ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="taxAllowance75ModalLabel">Droit d’enregistrement Bruxelles 2016</h4>
      </div>
      <div class="modal-body">
        <article class="text-justify">
          Lorsque vous achetez un premier bien et que vous
          décidez d’investir dans votre seul et unique logement dans la
          Région Bruxelles-Capitale vous pouvez bénéficier de réductions
          importantes sur les frais d’acquisitions qui sont actuellement
          de 12.5% pour toute acquisition dans le périmètre des 19 communes.<br>
          <br>
          La règle utilisée par la Région pour vous faire bénéficier de réductions
          de frais consiste à ne pas payer le droit d’enregistrement sur les premières
          tranches du prix d’acquisition. <br>
          <br>
          Il existe encore pour 2016 de deux barèmes d’application si on est dans
          le cas de figure précité: <br>
          <ul>
            <li>Un abattement des premiers 60.000€ sur le prix d’acquisition soit
              une réduction nette de 7.500€ soit un abattement de 75.000€ sur
              le prix d’acquisition ce qui revient à obtenir une réduction nette
              des droits d’enregistrement de 9.375€.
            </li>
          </ul>
        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Abattement 175.000€ -->
<div class="modal fade" id="taxAllowance175Modal" tabindex="-1" role="dialog"
     aria-labelledby="taxAllowance175ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="taxAllowance175ModalLabel">Droit d’enregistrement Bruxelles 2017</h4>
      </div>
      <div class="modal-body">
        <article class="text-justify">
          A partir de 2017, le bonus-logement disparaît et est remplacé
          par une majoration de l'abattement des droits d’enregistrement. Autrement dit,
          lors de l’achat d'une habitation propre à Bruxelles, les droits d'enregistrement
          sont exonérés sur un montant maximal de 175.000 euros au lieu de 60.000 euros
          précédemment. <br>
          <br>
          Condition : le prix de l'habitation ne doit pas dépasser 500.000
          euros. Au lieu d'un bonus-logement rapportant un avantage sur plusieurs années,
          il s'agit donc ici d'un avantage unique et immédiat de maximum 21 875 euros,
          soit 12,5% de 175.000 euros.
        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Abattement Flandre 15.000€ -->
<div class="modal fade" id="taxAllowance15Modal" tabindex="-1" role="dialog" aria-labelledby="taxAllowance15ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="taxAllowance15ModalLabel">Abattement normal Flandre</h4>
      </div>
      <div class="modal-body">
        <article class="text-justify">
          Un abattement ordinaire permet d'exonérer de la taxe d'enregistrement les premiers 15.000 euros,
          ce qui procure une économie de 1.500 euros (750 euros si on bénéficie de la réduction pour maison
          modeste). <br>
          <br>
          Pour y avoir droit, il faut que:
          <ul>
            <li>l'habitation soit située en Région flamande;</li>
            <li>les acheteurs soient des personnes physiques;</li>
            <li>le bien soit acheté en pleine propriété, seul ou avec d'autres personnes physiques;</li>
            <li>aucun des acheteurs ne soit propriétaire d'une autre habitation en Belgique ou que les
              co-acheteurs ne soient pas déjà co-propriétaires d'une habitation en Belgique;
            </li>
            <li>vous établissiez votre résidence principale dans les deux ans à cette adresse (dans les cinq
              ans en cas d'achat d'un terrain à bâtir, d'une maison ou d'un appartement sur plan).
            </li>
          </ul>
        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Abattement Flandre 25.000€ -->
<div class="modal fade" id="taxAllowance25Modal" tabindex="-1" role="dialog" aria-labelledby="taxAllowance25ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="taxAllowance25ModalLabel">Abattement normal Flandre</h4>
      </div>
      <div class="modal-body">
        <article class="text-justify">
          Lorsqu'un emprunt hypothécaire est conclu pour financer
          l'achat, l'abattement est majoré de 10.000 euros, ce qui procure un avantage
          supplémentaire de 1.000 euros.
        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Abattement Flandre 35.000€ -->
<div class="modal fade" id="taxAllowance35Modal" tabindex="-1" role="dialog" aria-labelledby="taxAllowance35ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="taxAllowance35ModalLabel">Abattement pour maisons modeste Flandre</h4>
      </div>
      <div class="modal-body">
        <article class="text-justify">
          Lorsqu'un emprunt hypothécaire est conclu pour financer
          l'achat, l'abattement est majoré de 20.000 euros pour
          l'achat d'une habitation modeste, ce qui procure un avantage
          supplémentaire de 1.000 euros.
        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Droits d’enregistrement - L’INSUFFISANCE D’ESTIMATION -->
<div class="modal fade" id="registrationTaxPublicModal" tabindex="-1" role="dialog"
     aria-labelledby="registrationTaxPublicLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="registrationTaxPublicLabel">L’INSUFFISANCE D’ESTIMATION</h4>
      </div>
      <div class="modal-body">
        <article class="text-justify">
          Art. 42 (in fine) du Cahier des Charges général :
          <br>« Les conséquences d’une insuffisance d’estimation relevée éventuellement par l’administration
          fiscale demeureront à charge de l’adjudicataire » !
          <br>Cela veut dire que l’administration fiscale taxe l’adjudicataire (l’acquéreur) sur base de la
          valeur du bien, et pas sur base du prix d’achat, sauf si le prix d’achat est supérieur à la valeur
          du bien !
          <br>C’est l’article 203 du Code des Droits d’Enregistrement qui le dit ! Attendez-vous donc à payer
          un montant supplémentaire de 12,5% (6% si vous pouvez obtenir la réduction des droits
          d’enregistrement) sur la différence entre le prix d’achat et la valeur donnée au bien acquis par
          l’administration fiscale.
          <br>Le receveur de l’enregistrement dispose d’un délai de deux ans à partir de la date
          d’enregistrement de l’acte pour demander au service du cadastre de vérifier le prix d’achat et de
          vous écrire pour payer ce droit supplémentaire si le contrôleur du service du cadastre estime que le
          bien vaut plus que le prix que vous avez payé !
          <br>En cas de travaux de transformation durant cette période de 2 ans qui suit la date de l’achat,
          pensez à garder toutes vos factures de travaux d’amélioration et même des photos du bien avant ces
          travaux ! Le contrôleur du cadastre pourrait en effet croire que vous avez acheté le bien dans
          l’état où il sera le jour de son éventuelle visite qui peut avoir lieu à l’extrême limite du terme
          de 2 ans. Après 2 ans, l’administration fiscale ne peut plus vous taxer sur un montant
          supplémentaire.
        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Frais de la vente public info -->
<div class="modal fade" id="registrationTaxPublicSaleModal" tabindex="-1" role="dialog"
     aria-labelledby="registrationTaxPublicSaleLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="registrationTaxPublicSaleLabel">Détails frais de la vente public</h4>
      </div>
      <div class="modal-body">
        <article class="text-justify">
          Le pourcentage des frais englobe:
          <ul>
            <li>Droits d’enregistrement: {{immo.taxAllowanceRate * 100}}%</li>
            <li>Les honoraires du notaire (entre 1 et 3% suivant le prix offert)</li>
            <li>Les honoraires du conservateur des hypothèques (calculé sur base d’un tarif légal, de
              l’ordre de 250 €)
            </li>
            <li>Les frais du procès-verbal d’attribution du prix de vente aux différents créanciers</li>
            <li>Les frais de publicité pour la vente publique.</li>
          </ul>
        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Frais divers -->
<div class="modal fade" id="variousFeesModal" tabindex="-1" role="dialog"
     aria-labelledby="variousFeesLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="variousFeesLabel">Frais divers</h4>
      </div>
      <div class="modal-body">
        <article class="text-justify">
          <p>
            Les frais divers peuvent varier selon les prestations à accomplir. Pour simplifier,
            le montant indiqué ici par défaut, qui devrait suffire dans les cas courants simples,
            est de <strong>1.100 € TVAC</strong> (qu’il y a donc lieu d’adapter, le cas échéant).
          </p>
          <p>
            Ces frais divers (donc hors honoraires du notaire et hors droits d’enregistrements)
            comprennent tous les frais indispensables exposés par le Notaire : recherches fiscales,
            hypothécaires, urbanistiques, transcription de l’acte aux hypothèques, …
          </p>
          <p>
            Le total de “frais divers” peut varier en fonction de la complexité d’un dossier : <br>
            une recherche urbanistique coûte plus cher dans certaines communes,
            une vente avec plusieurs vendeurs coûte plus cher qu’avec un seul vendeur
            (recherches fiscales et hypothécaires, frais de transcription, …)
          </p>
          <p>
            Le notaire chargé de la préparation de l’acte de vente peut vous donner des informations
            complémentaires.
          </p>
        </article>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
