<form name="acquisitionCostForm" id="acquisitionCostForm" novalidate>

  <!-- Prix d'achat (FAI) -->
  <div class="form-group">
    <label>Prix d'achat (FAI)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success"> € </span>
      <input type="number"
             step="10000"
             min="0"
             class="form-control with-success-addon"
             id="price"
             name="price"
             ng-model="acqCtrl.immo.price"
             ng-required="true"
             autofocus>
    </div>
    <div ng-show="acquisitionCostForm.$submitted || acquisitionCostForm.price.$touched">
      <div class="help-block text-danger" ng-if="acquisitionCostForm.price.$error.required">
        <span class="text-danger"> Entrez le montant du votre bien svp.</span>
      </div>
    </div>
  </div>

  <!-- Surface du bien (en m²) -->
  <div class="form-group">
    <label>Surface du bien (en m²)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success"> m²</span>
      <input type="number"
             step="10"
             min="0"
             max="9000"
             class="form-control"
             placeholder=""
             id="immoArea"
             name="immoArea"
             ng-model="acqCtrl.immo.area">
      <p class="help-block text-danger"></p>
    </div>
  </div>

  <!-- Montant des travaux -->
  <div class="form-group">
    <label>Travaux de rénovation (TTC)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success"> € </span>
      <input type="number"
             step="1000"
             min="0"
             class="form-control"
             placeholder=""
             id="renovationPrice"
             name="renovationPrice"
             ng-model="acqCtrl.immo.renovationPrice">
      <p class="help-block text-danger"></p>
    </div>
  </div>

  <!-- Taux droits d'enregistrement -->
  <div class="form-group">
    <p>Taux droits d'enregistrement:</p>
    <div class="col-xs-offset-1">
      <md-radio-group ng-model="acqCtrl.immo.registrationFeePercentage">
        <md-radio-button class="md-primary"
                         name="registrationFeePercentage" id="registrationFeePercentage125"
                         ng-value="0.125">12,5 % (Bruxelles & Wallonie)</md-radio-button>
        <div layout="row" layout-align="start start" ng-if="!acqCtrl.immo.price || acqCtrl.immo.price < 161438">
          <div>
            <md-radio-button class="md-primary"
                             name="registrationFeePercentage" id="registrationFeePercentage6"
                             ng-value="0.06">6 % (Wallonie - maison modeste) &nbsp;</md-radio-button>
          </div>
          <div>
            <a data-toggle="modal" role="button" ng-click="acqCtrl.open('app/pages/acquisition/form/modals/registrationFeePercentage6Modal.html')"><span class="glyphicon glyphicon-info-sign"></span></a>
          </div>
        </div>
        <md-radio-button class="md-primary"
                         name="registrationFeePercentage" id="registrationFeePercentage10"
                         ng-value="0.10">10 % (Flandre)</md-radio-button>
        <div layout="row" layout-align="start start" ng-if="!acqCtrl.immo.price || acqCtrl.immo.price < 161438">
          <div>
            <md-radio-button class="md-primary"
                             name="registrationFeePercentage" id="registrationFeePercentage5"
                             ng-value="0.05">5 % (Flandre - maison modeste) &nbsp;</md-radio-button>
          </div>
          <div>
            <a data-toggle="modal" role="button" ng-click="acqCtrl.open('app/pages/acquisition/form/modals/registrationFeePercentage5Modal.html')"><span class="glyphicon glyphicon-info-sign"></span></a>
          </div>
        </div>
        <md-radio-button class="md-primary"
                         name="registrationFeePercentage" id="registrationFeePercentage15"
                         ng-value="0.15">15 % (Wallonie 3e bien)</md-radio-button>

      </md-radio-group>
    </div>
  </div>

  <!-- Type de vente -->
  <div class="form-group">
    <p>Type de vente:</p>
    <div class="col-xs-offset-1">
      <md-radio-group ng-model="acqCtrl.immo.isPublicSale">
        <md-radio-button class="md-primary"
                         name="normalSale" id="normalSale"
                         ng-value="false">Gré à gré</md-radio-button>
        <md-radio-button class="md-primary"
                         name="publicSale" id="publicSale"
                         ng-value="true">Vente publique</md-radio-button>
      </md-radio-group>
    </div>
  </div>

  <!-- Abattement -->
  <div class="form-group">
    <p>Abattement</p>
    <div class="col-xs-offset-1">
      <md-radio-group ng-model="acqCtrl.immo.taxAllowanceSum">
        <md-radio-button ng-if="acqCtrl.immo.registrationFeePercentage == acqCtrl.BXL_AND_WALLONIA_TAX_RATE"
                         class="md-primary"
                         name="taxAllowance" id="taxAllowance60"
                         ng-value="acqCtrl.REDUCED_TAX_ALLOWANCE_SUM">60.000 €</md-radio-button>
        <div layout="row" layout-align="start start" ng-if="acqCtrl.immo.registrationFeePercentage == acqCtrl.BXL_AND_WALLONIA_TAX_RATE">
          <div>
            <md-radio-button class="md-primary"
                             name="taxAllowance" id="taxAllowance75"
                             ng-value="acqCtrl.TAX_ALLOWANCE_SUM">75.000 € &nbsp;</md-radio-button>
          </div>
          <div>
            <!-- Button trigger modal -->
            <a data-toggle="modal" role="button" ng-click="acqCtrl.open('app/pages/acquisition/form/modals/taxAllowance75Modal.html')"><span class="glyphicon glyphicon-info-sign"></span></a>
          </div>
        </div>
        <div layout="row" layout-align="start start" ng-if="acqCtrl.immo.registrationFeePercentage == acqCtrl.BXL_AND_WALLONIA_TAX_RATE">
          <div>
            <md-radio-button class="md-primary"
                             name="taxAllowance175" id="taxAllowance175"
                             ng-value="acqCtrl.TAX_ALLOWANCE_SUM_2017">175.000 € &nbsp;</md-radio-button>
          </div>
          <div>
            <!-- Button trigger modal -->
            <a data-toggle="modal" role="button" ng-click="acqCtrl.open('app/pages/acquisition/form/modals/taxAllowance175Modal.html')"><span class="glyphicon glyphicon-info-sign"></span></a>
          </div>
        </div>
        <div layout="row" layout-align="start start" ng-if="acqCtrl.immo.registrationFeePercentage == acqCtrl.FLANDERS_TAX_RATE || acqCtrl.immo.registrationFeePercentage == acqCtrl.FLANDERS_REDUCED_TAX_RATE">
          <div>
            <md-radio-button class="md-primary"
                             name="taxAllowance15" id="taxAllowance15"
                             ng-value="acqCtrl.TAX_ALLOWANCE_SUM_FLANDERS_15">Abattement ordinaire: 15.000 € &nbsp;</md-radio-button>
          </div>
          <div>
            <!-- Button trigger modal -->
            <a data-toggle="modal" role="button" ng-click="acqCtrl.open('app/pages/acquisition/form/modals/taxAllowance15Modal.html')"><span class="glyphicon glyphicon-info-sign"></span></a>
          </div>
        </div>
        <div layout="row" layout-align="start start" ng-if="acqCtrl.immo.registrationFeePercentage == acqCtrl.FLANDERS_TAX_RATE">
          <div>
            <md-radio-button class="md-primary"
                             name="taxAllowance25" id="taxAllowance25"
                             ng-value="acqCtrl.TAX_ALLOWANCE_SUM_FLANDERS_25">Abattement majoré: 25.000 € &nbsp;</md-radio-button>
          </div>
          <div>
            <!-- Button trigger modal -->
            <a data-toggle="modal" role="button" ng-click="acqCtrl.open('app/pages/acquisition/form/modals/taxAllowance25Modal.html')"><span class="glyphicon glyphicon-info-sign"></span></a>
          </div>
        </div>
        <div layout="row" layout-align="start start" ng-if="acqCtrl.immo.registrationFeePercentage == acqCtrl.FLANDERS_REDUCED_TAX_RATE">
          <div>
            <md-radio-button class="md-primary"
                             name="taxAllowance35" id="taxAllowance35"
                             ng-value="acqCtrl.TAX_ALLOWANCE_SUM_FLANDERS_35">Abattement majoré: 35.000 € &nbsp;</md-radio-button>
          </div>
          <div>
            <!-- Button trigger modal -->
            <a data-toggle="modal" role="button" ng-click="acqCtrl.open('app/pages/acquisition/form/modals/taxAllowance35Modal.html')"><span class="glyphicon glyphicon-info-sign"></span></a>
          </div>
        </div>
        <md-radio-button class="md-primary"
                         name="taxAllowance" id="taxAllowance0"
                         ng-value="0">Pas d'abattement / inconnu  &nbsp;</md-radio-button>
      </md-radio-group>
    </div>
  </div>

  <!-- Droits d’enregistrement -->
  <div class="form-group" ng-if="acqCtrl.immo.isPublicSale == false">
    <label>Droits d’enregistrement</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="text"
             class="form-control with-success-addon"
             id="registrationTax"
             name="registrationTax"
             ng-value="acqCtrl.immo.registrationTax | currency : '€' : 0"
             disabled>
      <!-- Button trigger modal -->
      <span class="input-group-btn addon-right input-group-addon-primary">
        <button class="btn btn-primary" type="button" role="button" data-toggle="modal"
                ng-click="acqCtrl.open('app/pages/acquisition/form/modals/registrationTaxPublicModal.html')">&nbsp;&nbsp;<i
          class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;</button>
      </span>
    </div>
  </div>

  <!-- Honoraires notariaux barêmisés (htva) -->
  <div class="form-group" ng-if="acqCtrl.immo.isPublicSale == false">
    <label>Honoraires notariaux barêmisés (TVAC)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="text"
             class="form-control with-success-addon"
             id="honorTVAC"
             name="honorTVAC"
             ng-value="acqCtrl.immo.notaryHonorTTC | currency:'€':0"
             disabled>
    </div>
    <span class="help-block sub-little-text" ng-if="acqCtrl.immo.notaryHonorHTVA">
      <i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp; Honoraires notariaux HTVA: {{acqCtrl.immo.notaryHonorHTVA | currency:'€':0}} </span>
  </div>

  <!-- Frais de la vente publique -->
  <div class="form-group" ng-if="acqCtrl.immo.isPublicSale == true">
    <label>Frais de la vente publique</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="text"
             class="form-control"
             id="registrationTaxPublicSale"
             name="registrationTaxPublicSale"
             ng-value="acqCtrl.immo.registrationTaxPublicSale | currency:'€':0"
             disabled>
      <!-- Button trigger modal -->
      <span class="input-group-btn addon-right input-group-addon-primary">
        <button class="btn btn-primary" type="button" role="button" data-toggle="modal"
                ng-click="acqCtrl.open('app/pages/acquisition/form/modals/registrationTaxPublicSaleModal.html')">&nbsp;&nbsp;<i
          class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;</button>
      </span>
    </div>
  </div>

  <!-- Frais divers (tvac) -->
  <div class="form-group">
    <label>Frais divers (tvac)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="number"
             class="form-control"
             placeholder=""
             id="variousFees"
             name="variousFees"
             ng-model="acqCtrl.immo.variousFees"
             data-validation-number-message="Ce champ ne doit contenir que des chiffres">
      <!-- Button trigger modal -->
      <span class="input-group-btn addon-right input-group-addon-primary">
        <button class="btn btn-primary" type="button" role="button" data-toggle="modal"
                ng-click="acqCtrl.open('app/pages/acquisition/form/modals/variousFeesModal.html')">&nbsp;&nbsp;<i
          class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;</button>
      </span>
    </div>
  </div>

  <br>
  <h2 class="text-danger" ng-if="acqCtrl.immo.total">Total coût d'achat: <b>{{acqCtrl.immo.total | currency:"€":0}}</b></h2>
  <h2 class="text-danger" ng-if="acqCtrl.immo.area > 0">Total prix au m²: <b>{{acqCtrl.immo.total / acqCtrl.immo.area | currency:"€":0}}</b></h2>

  <br>

</form>

