<!-- Modal Abattement 15.000€ -->
<div class="modal-content">
  <div class="modal-header bg-info">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="" id="taxAllowanceRate6ModalLabel"><i class="ion-information-circled modal-icon"></i> Droits
      d'enregistrement pour une habitation modeste en Wallonie</h4>
  </div>
  <div class="modal-body">
    <article class="text-justify">
      Quand vous achetez une habitation modeste vous pouvez sous certaines conditions bénéficier d'un
      droit réduit de :
      <ul>
        <li>6 % sur une partie de la base imposable lors de l'acquisition d'un immeuble en Région
          wallonne
        </li>
      </ul>
      <b>Conditions</b>
      <ul>
        <li>Il doit s'agir de l'achat de la propriété d'une habitation.</li>
        <li>Vous devez vous engager à être domicilié dans cet immeuble pendant 3 ans, le début de votre
          domiciliation devant commencer dans les 3 ans de votre acquisition (le temps maximum qui
          vous est donné pour d’éventuels travaux d’aménagement) ;
        </li>
        <li>Ne pas être propriétaire d’un autre immeuble d’habitation, tant en Belgique qu’à
          l’étranger.
        </li>
        <li>Le revenu cadastral (R.C.) du bien acheté ne doit pas dépasser un certain montant, en
          fonction du nombre d'enfants que l'acheteur a à charge :
        </li>
      </ul>
      <div class="horizontal-scroll">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td><strong>Enfants à charge</strong></td>
            <td><strong>Maximum R.C.</strong></td>
          </tr>
          <tr>
            <td>0 à 2</td>
            <td>€ 745,00</td>
          </tr>
          <tr>
            <td>3 ou 4</td>
            <td>€ 845,00</td>
          </tr>
          <tr>
            <td>5 ou 6</td>
            <td>€ 945,00</td>
          </tr>
          <tr>
            <td>7 et plus</td>
            <td>€ 1 045,00</td>
          </tr>
          </tbody>
        </table>
      </div>
      <ul>
        <li>Le R.C. à prendre en considération est le revenu cadastral non-indexé.</li>
        <li>Le revenu cadastral (R.C.) total du bien acquis et des biens que l'acheteur ou son/sa
          conjoint(e) possède déjà, en pleine ou en nue-propriété, ne peut dépasser le maximum énoncé
          au tableau ci-dessus.
        </li>
      </ul>
    </article>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">Fermer</button>
  </div>
</div>
