<!-- Modal Droits d’enregistrement - L’INSUFFISANCE D’ESTIMATION -->
<div class="modal-content">
  <div class="modal-header bg-info">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="" id="taxAllowance75ModalLabel"><i class="ion-information-circled modal-icon"></i> L’INSUFFISANCE D’ESTIMATION</h4>
  </div>
  <div class="modal-body">
    <article class="text-justify">
      Art. 42 (in fine) du Cahier des Charges général :
      <br>« Les conséquences d’une insuffisance d’estimation relevée éventuellement par l’administration
      fiscale demeureront à charge de l’adjudicataire » !
      <br>Cela veut dire que l’administration fiscale taxe l’adjudicataire (l’acquéreur) sur base de la
      valeur du bien, et pas sur base du prix d’achat, sauf si le prix d’achat est supérieur à la valeur
      du bien !
      <br>C’est l’article 203 du Code des Droits d’Enregistrement qui le dit ! Attendez-vous donc à payer
      un montant supplémentaire de 12,5% (6% si vous pouvez obtenir la réduction des droits
      d’enregistrement) sur la différence entre le prix d’achat et la valeur donnée au bien acquis par
      l’administration fiscale.
      <br>Le receveur de l’enregistrement dispose d’un délai de deux ans à partir de la date
      d’enregistrement de l’acte pour demander au service du cadastre de vérifier le prix d’achat et de
      vous écrire pour payer ce droit supplémentaire si le contrôleur du service du cadastre estime que le
      bien vaut plus que le prix que vous avez payé !
      <br>En cas de travaux de transformation durant cette période de 2 ans qui suit la date de l’achat,
      pensez à garder toutes vos factures de travaux d’amélioration et même des photos du bien avant ces
      travaux ! Le contrôleur du cadastre pourrait en effet croire que vous avez acheté le bien dans
      l’état où il sera le jour de son éventuelle visite qui peut avoir lieu à l’extrême limite du terme
      de 2 ans. Après 2 ans, l’administration fiscale ne peut plus vous taxer sur un montant
      supplémentaire.
    </article>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">Fermer</button>
  </div>
</div>
