<!-- Réduction de moitié pour maison modeste -->
<div class="modal-content">
  <div class="modal-header bg-info">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="" id="taxAllowance75ModalLabel"><i class="ion-information-circled modal-icon"></i> Réduction de moitié pour maison modeste</h4>
  </div>
  <div class="modal-body">
    <article class="text-justify">Cette réduction s'adresse à celui qui achète un bien immobilier pour y
      établir dans les trois ans sa résidence principale (et y vivre ensuite
      au moins trois ans). En principe, cette réduction peut être demandée
      par le propriétaire qui ne possède pas (lui-même ou son conjoint)
      en pleine propriété ou en nue-propriété une autre habitation.
      S'il(s) possède (nt) d'autres biens immobiliers, leur revenu cadastral
      total ne peut dépasser: <br>
      <br> - 745 euros s'il y a moins de trois enfants à charge;
      <br> - 845 euros s'il y a trois ou quatre enfants à charge;
      <br> - 945 euros s'il y a cinq ou six enfants à charge;
      <br> - 1.045 euros s'il y a plus de six enfants à charge.
    </article>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">Fermer</button>
  </div>
</div>
