<!-- Modal Abattement 15.000€ -->
<div class="modal-content">
  <div class="modal-header bg-info">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="" id="taxAllowance75ModalLabel"><i class="ion-information-circled modal-icon"></i> Abattement sur 15.000€ Flandre</h4>
  </div>
  <div class="modal-body">
    <article class="text-justify">
      Un abattement ordinaire permet d'exonérer de la taxe d'enregistrement les premiers 15.000 euros,
      ce qui procure une économie de 1.500 euros (750 euros si on bénéficie de la réduction pour maison
      modeste). <br>
      <br>
      Pour y avoir droit, il faut que:
      <ul>
        <li>l'habitation soit située en Région flamande;</li>
        <li>les acheteurs soient des personnes physiques;</li>
        <li>le bien soit acheté en pleine propriété, seul ou avec d'autres personnes physiques;</li>
        <li>aucun des acheteurs ne soit propriétaire d'une autre habitation en Belgique ou que les
          co-acheteurs ne soient pas déjà co-propriétaires d'une habitation en Belgique;
        </li>
        <li>vous établissiez votre résidence principale dans les deux ans à cette adresse (dans les cinq
          ans en cas d'achat d'un terrain à bâtir, d'une maison ou d'un appartement sur plan).
        </li>
      </ul>
    </article>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">Fermer</button>
  </div>
</div>
