<!-- Modal Abattement 75.000€ -->
<div class="modal-content">
  <div class="modal-header bg-info">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="" id="taxAllowance75ModalLabel"><i class="ion-information-circled modal-icon"></i> Droit d’enregistrement Bruxelles 2016</h4>
  </div>
  <div class="modal-body">
    <article class="text-justify">
      Lorsque vous achetez un premier bien et que vous
      décidez d’investir dans votre seul et unique logement dans la
      Région Bruxelles-Capitale vous pouvez bénéficier de réductions
      importantes sur les frais d’acquisitions qui sont actuellement
      de 12.5% pour toute acquisition dans le périmètre des 19 communes.<br>
      <br>
      La règle utilisée par la Région pour vous faire bénéficier de réductions
      de frais consiste à ne pas payer le droit d’enregistrement sur les premières
      tranches du prix d’acquisition. <br>
      <br>
      Il existe encore pour 2016 de deux barèmes d’application si on est dans
      le cas de figure précité: <br>
      <ul>
        <li>Un abattement des premiers 60.000€ sur le prix d’acquisition soit
          une réduction nette de 7.500€ soit un abattement de 75.000€ sur
          le prix d’acquisition ce qui revient à obtenir une réduction nette
          des droits d’enregistrement de 9.375€.
        </li>
      </ul>
    </article>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">Fermer</button>
  </div>
</div>
