<!-- Modal Abattement 175.000€ -->
<div class="modal-content">
  <div class="modal-header bg-info">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="" id="taxAllowance75ModalLabel"><i class="ion-information-circled modal-icon"></i> Droit d’enregistrement Bruxelles 2017</h4>
  </div>
  <div class="modal-body">
    <article class="text-justify">
      A partir de 2017, le bonus-logement disparaît et est remplacé
      par une majoration de l'abattement des droits d’enregistrement. Autrement dit,
      lors de l’achat d'une habitation propre à Bruxelles, les droits d'enregistrement
      sont exonérés sur un montant maximal de 175.000 euros au lieu de 60.000 euros
      précédemment. <br>
      <br>
      Condition : le prix de l'habitation ne doit pas dépasser 500.000
      euros. Au lieu d'un bonus-logement rapportant un avantage sur plusieurs années,
      il s'agit donc ici d'un avantage unique et immédiat de maximum 21 875 euros,
      soit 12,5% de 175.000 euros.
    </article>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">Fermer</button>
  </div>
</div>
