<!-- Modal Frais divers -->
<div class="modal-content">
  <div class="modal-header bg-info">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="" id="taxAllowance75ModalLabel"><i class="ion-information-circled modal-icon"></i> Frais divers</h4>
  </div>
  <div class="modal-body">
    <article class="text-justify">
      <p>
        Les frais divers peuvent varier selon les prestations à accomplir. Pour simplifier,
        le montant indiqué ici par défaut, qui devrait suffire dans les cas courants simples,
        est de <strong>1.100 € TVAC</strong> (qu’il y a donc lieu d’adapter, le cas échéant).
      </p>
      <p>
        Ces frais divers (donc hors honoraires du notaire et hors droits d’enregistrements)
        comprennent tous les frais indispensables exposés par le Notaire : recherches fiscales,
        hypothécaires, urbanistiques, transcription de l’acte aux hypothèques, …
      </p>
      <p>
        Le total de “frais divers” peut varier en fonction de la complexité d’un dossier : <br>
        une recherche urbanistique coûte plus cher dans certaines communes,
        une vente avec plusieurs vendeurs coûte plus cher qu’avec un seul vendeur
        (recherches fiscales et hypothécaires, frais de transcription, …)
      </p>
      <p>
        Le notaire chargé de la préparation de l’acte de vente peut vous donner des informations
        complémentaires.
      </p>
    </article>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">Fermer</button>
  </div>
</div>
