
<!-- Ajuter auss le precompte imobiliare + si ascenseur ou non ( True => Entretien ascenseur) + rectifier l'assurance immeuble
- pour l'entretien immeuble ajouter entre parentese => Électricité communs) -->
<form name="efficiencyForm" id="efficiencyForm" novalidate>

  <!-- Loyer mensuel (hors charges) -->
  <div class="form-group">
    <label>Montant à investir</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="number"
             step="10000"
             min="0"
             max="10000000"
             class="form-control with-success-addon"
             placeholder=""
             id="investAmount"
             name="investAmount"
             ng-model="effCtrl.efficiency.investAmount">
    </div>
  </div>

  <!-- Loyer mensuel (hors charges) -->
  <div class="form-group">
    <label>Loyer mensuel perçu (hors charges)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="number"
             step="100"
             min="0"
             class="form-control with-success-addon"
             placeholder=""
             id="investMonthlyRent"
             name="investMonthlyRent"
             ng-model="effCtrl.efficiency.monthlyRent">
    </div>
  </div>

  <!-- Surface du bien (en m²) -->
  <div class="form-group">
    <label>Surface du bien (en m²)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">m²</span>
      <input type="number"
             step="10"
             min="0"
             max="9000"
             class="form-control with-success-addon"
             placeholder=""
             id="investArea"
             name="investArea"
             ng-model="effCtrl.immo.area">
    </div>
  </div>

  <!-- Taux droits d'enregistrement -->
  <div class="form-group">
    <p>L'immeuble possède un ascenseur?</p>
    <div class="col-xs-offset-1">
      <div class="radio">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="isElevator" id="isElevatorTrue"
                 ng-model="effCtrl.immo.isElevator" ng-value=true>
          <span>Oui</span>
        </label>
      </div>
      <div class="radio">
        <label class="radio custom-radio nowrap">
          <input type="radio" name="isElevator" id="isElevatorFalse"
                 ng-model="effCtrl.immo.isElevator" ng-value=false>
          <span>Non</span>
        </label>
      </div>
    </div>
  </div>


  <div ng-class="{'row': effCtrl.immo.isElevator}" ng-cloak>
    <!-- Entretien (€/an) -->
    <div class="form-group" ng-class="{'col-sm-6': effCtrl.immo.isElevator}">
      <label>Entretien (€/an)</label>
      <div class="input-group">
        <span class="input-group-addon addon-left input-group-addon-success">€</span>
        <input type="number"
               step="10"
               min="0"
               max="10000"
               class="form-control with-success-addon"
               placeholder=""
               id="ivestMaintenance"
               name="ivestMaintenance"
               ng-model="effCtrl.efficiency.maintenance">
      </div>
      <span class="help-block sub-little-text" ng-if="effCtrl.immo.total > 0"><i class="fa fa-info-circle" aria-hidden="true"></i>
        Modifier si nécessaire</span>
    </div>

    <!-- Entretien Ascenseur (€/an) -->
    <div class="form-group col-sm-6" ng-if="effCtrl.immo.isElevator">
      <label>Entretien Ascenseur(€/an)</label>
      <div class="input-group">
        <span class="input-group-addon addon-left input-group-addon-success">€</span>
        <input type="number"
               step="10"
               min="0"
               max="10000"
               class="form-control with-success-addon"
               placeholder=""
               id="ivestElevatorMaintenance"
               name="ivestElevatorMaintenance"
               ng-model="effCtrl.efficiency.elevatorMaintenance">
      </div>
      <span class="help-block sub-little-text"><i class="fa fa-info-circle" aria-hidden="true"></i>
        Modifier si nécessaire</span>
    </div>
  </div>


  <!-- Charges perçues (€/mois) -->
  <div class="form-group">
    <label>Charges perçues (€/mois)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="number"
             step="10"
             min="0"
             max="10000"
             class="form-control with-success-addon"
             placeholder=""
             id="investPrepaidExpenses"
             name="investPrepaidExpenses"
             ng-model="effCtrl.efficiency.prepaidExpenses">
    </div>
    <span class="help-block sub-little-text"><i class="fa fa-info-circle" aria-hidden="true"></i>
        Le montant des charges mensuelles provisionnelles que vous allez demander au locataire en plus de loyer.</span>
  </div>

  <!-- Assurances (€/an) -->
  <div class="form-group">
    <label>Assurances (€/an)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="number"
             class="form-control with-success-addon"
             placeholder=""
             id="investInsurance"
             name="investInsurance"
             ng-model="effCtrl.efficiency.insurance">
    </div>
    <span class="help-block sub-little-text"><i class="fa fa-info-circle" aria-hidden="true"></i>
        Modifier si nécessaire</span>
  </div>

  <!-- Age -->
<!--  <div class="form-group">
    <label>Age</label>
    <div class="input-group">
      <input type="number"
             class="form-control with-success-addon"
             placeholder=""
             id="userAge"
             name="userAge"
             ng-model="effCtrl.efficiency.userAge">
    </div>
  </div>-->

  <!-- Assurance crédit(€/an) -->
  <div class="form-group">
    <label>Assurance Solde Restant Dû(€/an)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="number"
             class="form-control with-success-addon"
             placeholder=""
             id="investLoanInsurance"
             name="investLoanInsurance"
             ng-model="effCtrl.efficiency.annualLoanInsurance">
    </div>
  </div>

  <!-- Rentabilité nette (%/an) -->
  <div class="form-group">
    <label>Rentabilité nette (%/an)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">%</span>
      <input type="number"
             min="-1000"
             max="1000"
             class="form-control with-success-addon"
             placeholder=""
             id="profitabilityNet"
             name="profitabilityNet"
             ng-model="effCtrl.efficiency.profitabilityNet"
             disabled>
    </div>
  </div>

  <!-- Rentabilité nette -->
  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group floating-label-form-group-with-value controls">
      <br>
      <h2 class="text-danger">Rentabilité nette: <b>{{effCtrl.efficiency.profitabilityNet | number:2}}%</b>
      </h2>
    </div>
  </div>

</form>






