
<!-- Ajuter aussi le precompte imobiliare + si ascenseur ou non ( True => Entretien ascenseur) + rectifier l'assurance immeuble
- pour l'entretien immeuble ajouter entre parentese => Électricité communs) -->
<form name="efficiencyForm" id="efficiencyForm" autocomplete="off"=""  novalidate>

  <!-- Montant à investir -->
  <div class="form-group">
    <label>Montant à investir</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="tel"
             min="0"
             class="form-control with-success-addon"
             id="investAmount"
             name="investAmount"
             ng-model="effCtrl.efficiency.investAmount"
             required ui-number-mask="0">
    </div>
    <span ng-if="effCtrl.immo.total && effCtrl.fin.totalAcquisitionFees> 0" class="help-block sub-little-text"><i
      class="fa fa-info-circle" aria-hidden="true"></i>
          Prix d'achat: {{effCtrl.immo.price | currency:'€':'0'}} + Frais d'aquisition: {{effCtrl.fin.totalAcquisitionFees | currency:'€':'0'}} </span>
    <div ng-show="efficiencyForm.$submitted || efficiencyForm.investAmount.$touched">
      <div class="help-block text-danger" ng-if="efficiencyForm.investAmount.$error.required">
        <span class="text-danger"> Entrez le montant que vous desirez investir svp.</span>
      </div>
      <div class="help-block text-danger" ng-if="effCtrl.efficiency.investAmount === 0">
        <span class="text-danger"> Le montant a investir doit être supérieur à 0!</span>
      </div>
    </div>
    <div class="help-block text-danger" ng-if="efficiencyForm.investAmount.$invalid && !efficiencyForm.investAmount.$error.required">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>
  </div>

  <!-- Loyer mensuel (hors charges) -->
  <div class="form-group">
    <label>Loyer mensuel perçu (hors charges)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="tel"
             min="0"
             class="form-control with-success-addon"
             id="investMonthlyRent"
             name="investMonthlyRent"
             ng-model="effCtrl.efficiency.monthlyRent"
             required ui-number-mask="0">
    </div>
    <div ng-show="efficiencyForm.$submitted || efficiencyForm.investMonthlyRent.$touched">
      <div class="help-block text-danger" ng-if="efficiencyForm.investMonthlyRent.$error.required">
        <span class="text-danger"> Le loyer mensuel perçu est nécessaire pour calculer la rentabilité</span>
      </div>
    </div>
    <div class="help-block text-danger" ng-if="efficiencyForm.investMonthlyRent.$invalid && !efficiencyForm.investMonthlyRent.$error.required">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>
  </div>

  <!-- Charges perçues (€/mois) -->
  <div class="form-group">
    <label>Charges perçues (€/mois)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="tel"
             min="0"
             max="10000"
             class="form-control with-success-addon"
             id="investPrepaidExpenses"
             name="investPrepaidExpenses"
             ng-model="effCtrl.efficiency.prepaidExpenses"
             ui-number-mask="0">
      <!-- Button trigger modal -->
      <span class="input-group-btn addon-right input-group-addon-primary">
        <button class="btn btn-primary" type="button"
                uib-tooltip="Le montant des charges mensuelles provisionnelles que vous allez demander au locataire en plus de loyer.">
          &nbsp;&nbsp;<i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;
        </button>
      </span>
    </div>
    <div class="help-block text-danger" ng-if="efficiencyForm.investPrepaidExpenses.$invalid">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>
  </div>

  <!-- Taux d’occupation -->
  <div class="form-group">
    <label>Taux d’occupation annuel(%)</label>
    <div class="input-group">
      <md-slider-container>
        <md-slider class="md-warn" flex md-discrete step="5" min="0" max="100" ng-model="effCtrl.efficiency.occupancyRate" aria-label="red" id="occupancyRate-slider">
        </md-slider>
        <md-input-container>
          <input flex
                 type="number"
                 id="occupancyRate"
                 name="occupancyRate"
                 ng-model="effCtrl.efficiency.occupancyRate" aria-label="red"
                 aria-controls="red-slider"
                 required>
        </md-input-container>
      </md-slider-container>
    </div>
    <div ng-show="efficiencyForm.$submitted || efficiencyForm.occupancyRate.$touched">
      <div class="help-block text-danger" ng-if="efficiencyForm.occupancyRate.$error.required">
        <span class="text-danger"> Le taux d'occupation annuel est est nécessaire pour calculer la rentabilité</span>
      </div>
    </div>
    <div class="help-block text-danger" ng-if="efficiencyForm.occupancyRate.$invalid && !efficiencyForm.occupancyRate.$error.required">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>
  </div>

  <!-- Itérêts de l'emprunt -->
  <div class="form-group">
    <label>Itérêts sur l'emprunt + Assurance</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="tel"
             min="0"
             class="form-control with-success-addon"
             id="totalInterestAndInsurance"
             name="totalInterestAndInsurance"
             ng-model="effCtrl.efficiency.totalInterestAndInsurance"
             ui-number-mask="0">
    </div>
    <div class="help-block text-danger" ng-if="efficiencyForm.totalInterestAndInsurance.$invalid">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>
  </div>

  <!-- Entretien (€/an) -->
  <div class="form-group">
    <label>Entretien (€/an)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="tel"
             min="0"
             class="form-control with-success-addon"
             id="maintenance"
             name="maintenance"
             ng-model="effCtrl.efficiency.maintenance"
             ui-number-mask="0">
      <span class="input-group-btn addon-right input-group-addon-primary">
        <button class="btn btn-primary" type="button"
                uib-tooltip="Depenses pour travaux de structure et les « grands entretiens » liés à la tenue du logement. Ex: Réparation de la toiture, façade, structure du bâtiment, parties communes, réparation des gouttières...">
          &nbsp;&nbsp;<i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;
        </button>
      </span>
    </div>
    <div class="help-block text-danger" ng-if="efficiencyForm.maintenance.$invalid">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>
  </div>

  <!-- Assurances (€/an) -->
  <div class="form-group">
    <label>Précompte immobilier</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="tel"
             min="0"
             class="form-control with-success-addon"
             id="propertyTax"
             name="propertyTax"
             ng-model="effCtrl.efficiency.propertyTax"
             ui-number-mask="0">
    </div>
    <div class="help-block text-danger" ng-if="efficiencyForm.propertyTax.$invalid">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>
  </div>

  <!-- Autre Assurances (€/an) -->
  <div class="form-group">
    <label>Autre Assurances (€/an)</label>
    <div class="input-group">
      <span class="input-group-addon addon-left input-group-addon-success">€</span>
      <input type="tel"
             min="0"
             class="form-control with-success-addon"
             id="diversInsurances"
             name="diversInsurances"
             ng-model="effCtrl.efficiency.diversInsurances"
             ui-number-mask="0">
    </div>
    <span class="help-block sub-little-text"><i class="fa fa-info-circle" aria-hidden="true"></i>
        Assurance habitation, Assurance protection juridique...</span>
    <div class="help-block text-danger" ng-if="efficiencyForm.diversInsurances.$invalid">
      <span class="text-danger"> Veuillez saisir un nombre valide.</span>
    </div>
  </div>

</form>






